*{
    direction: rtl;
}
.myheader{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content:center;
    justify-content:center;
    border: 1px solid #231f20;
    border-color: #231f20;
    background-color: #231f20;
    color: #3cb44b


}   
.bottomheader{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content:center;
  justify-content:first baseline;

}

.navbar{
  margin:0;
  padding:0;
  
}
.activecolor{ background-color: #26ff26 !important; } 

.navbar li {
    height: 45px;
    width: 150px;
    text-align: center;
    font-size: large;
    background-color: #444444;
    list-style: none;
    border-bottom: 1px solid #ccc9c9;
    vertical-align: middle;
    justify-content:center;
    padding-top: 22px;



  }
   a {
     padding-top: 35px;
    text-decoration: none;
    color: white;
    display: inline;
    align-items: center;
    vertical-align:middle;
    justify-content:center;
  }
  /* .navbar li:hover {
    background-color: #a1a3a1;
  } */
.navbar  li:hover{ background-color: #26ff26;}
.navbar  li:hover a{ color: rgb(255, 255, 255); }
/* .navbar  li:active{ background-color: #26ff26; } */
/* .navbar  li:active a{ color: rgb(255, 255, 255); } */
