<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />

    <title>Document</title>
  </head>

  <body>
    <div class='myfooter'>
      <div class='footer_final'>
        <div class='top_about_us'>
          <div class='about_us'>
            <p>درباره ما</p>
          </div>
          <div class='bottom_about_us'>
            <p>تیم پرتلاش کارورزی</p>
          </div>
        </div>
        <div class='top_our_thems'>
          <div class='about_us'>
            <p>شعار ما</p>
          </div>
          <div class='bottom_about_us'>
            <p>...تا زمانی که بهترین انتخاب ممکن است ، خوب کافی نیست</p>
          </div>
        </div>
        <div class='top_resent_posts'>
          <div class='about_us'>
            <p>پست های اخیر</p>
          </div>
          <div class='bottom_about_us'>
            <p>پست 1</p>
          </div>
          <div class='bottom_about_us'>
            <p>پست 2</p>
          </div>
          <div class='bottom_about_us'>
            <p>آخرین اطلاعیه ها</p>
          </div>

        </div>

      </div>
      <div class='top-comunicatiom'>
        <div class='comunication_pic'>
          <div class='comunication_pic'><img src='../../image/1.jpg' /></div>
          <div class='comunication_pic'><img src='../../image/2.jpg' /></div>
          <div class='comunication_pic'><img src='../../image/3.jpg' /></div>
          <div class='comunication_pic'><img src='../../image/4.jpg' /></div>
          <div class='comunication_pic'><img src='../../image/5.jpg' /></div>
          <div class='comunication_pic'><img src='../../image/6.jpg' /></div>
        </div>
      </div>
      <div class='Top-End-Footer'>
        <div class='End-Footer'>
          <div>
            <P>پروژه بزرگ دیفال </P>
          </div>
          <div>
            <P>به وسیله تیم کاروزی . © کپی رایت 2022 . تمامی حقوق محفوظ است.</P>
          </div>
        </div>
      </div>
    </div>
  </body>

</html>