<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="them/header.css">

    <title>Document</title>
</head>

<body>
    <div class="myheader">
        <img src="/image/favicon.jpg" width="30%" height="200px">
    </div>
    <ul class="navbar">
        <li>
            <a href="#">مدیریت مشتریان</a>
        </li>
        <li>
            <a href="#">مدیریت آگهی ها</a>
        </li>
        <li>
            <a href="#">مدیریت 3</a>
        </li>
        <li>
            <a href="#">مدیریت 4</a>
        </li>
        <li>
            <a href="#">مدیریت 5</a>
        </li>
        <li>
            <a href="#">مدیریت 6</a>
        </li>
    </ul>
</body>

</html>