<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='css/style.css' />
    <link rel='stylesheet' href='css/all.min.css' />

    <title>Document</title>
  </head>

  <body>
    <nav class='topnav' id='myTopnav'>
      <ul>
        <li><a href='http://localhost:3000/' class='active'>دیفال</a></li>
        <li><a href='post'>پست ها</a></li>
        <li><a href='management1'>داشبورد</a></li>
      </ul>
      <img class='logo' src='./image/favicon.jpg' alt='' />
      <div class='search-container'>
        <form action='/post/search/q'>
          <input type='text' placeholder='جستجو...' name='text' />
          <button type='submit'><i class='fa fa-search'></i></button>
        </form>
      </div>
    </nav>
  </body>

</html>