<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{title}}</title>
</head>

<body>
    {{>header}}
    <div class="bottomheader">
        <div>
            <h1>پست ها</h1>
        </div>
        <div id="myData"></div>
    </div>
    {{>footer active}}

<script type="script" src="../src/post/post.service.ts"></script>
</body>
</html>